{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-declaration-block-no-ignored-properties"
  ],
  "ignoreFiles": ["**/node_modules/**", "**/src/stories/**"],
  "rules": {
    "selector-class-pattern": "^(([a-z][a-zA-Z0-9_]+)|([a-z][a-z0-9]*)(-[a-zA-Z0-9_]+)*)$",
    "length-zero-no-unit": null,
    "value-keyword-case": null,
    "custom-property-empty-line-before": null,
    "color-function-notation": null,
    "alpha-value-notation": null,
    "plugin/declaration-block-no-ignored-properties": true,
		"order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-order": [
			"width",
			"height"
		]
  }
}