$transition-duration: .5s;
$transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

%extend-transition {
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

.item {
  @apply w-full;

  position: relative;
}

.buttonWrap {
  @apply w-full;
  @extend %extend-transition;

  bottom: 5%;
  left: 50%;
  max-width: 80%;
  position: absolute;
  transform: translateX(-50%);
  transition-property: max-width;
  z-index: 3;

  @screen medium {
    max-width: 40%;
  }
}

.button {
  @apply h-spUI leading-spUI border-lightText w-full;
  @extend %extend-transition;

  border: 2px solid;
  border-radius: 50px;
  font-weight: bold;
  opacity: 1;
  transition-property: opacity;

  @screen medium {
    opacity: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.content {
  bottom: 0;
  left: 0;
  position: absolute;
}

.imageWrap {
  @extend %extend-transition;

  border-radius: 50px;
  margin: 0 0 0 auto;
  position: relative;
  transition-property: width;
  width: 60%;
  z-index: 2;

  @screen medium {
    width: 60%;
  }

  &::after {
    @screen medium {
      @apply bg-accent;
      @extend %extend-transition;

      width: 100%;
      height: 100%;
      content: "";
      display: block;
      left: 0;
      opacity: 0.35;
      position: absolute;
      top: 0;
      transition-property: opacity;
    }
  }
}

.image {
  @apply w-full;

  display: block;
}

.headingText {
  color: transparent;
  -webkit-text-stroke: 2px #FFBD59;
  z-index: 3;
}

.backText {
  @apply text-accent;

  z-index: 1;
}

.headingText,
.backText {
  @apply text-40 h-40 leading-40;
  @extend %extend-transition;

  display: block;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition-property: font-size height line-height;

  @screen small {
    @apply text-64 h-64 leading-64;
  }

  @screen medium {
    @apply text-56 h-56 leading-56;
  }
}

.dark {
  .backText {
    @apply text-darkText;
  }

  .button {
    @apply  border-darkText text-darkText;
  }

  .imageWrap {
    &::after {
      @apply bg-main;
    }
  }

  .headingText {
    -webkit-text-stroke: 2px rgb(255 255 255);
  }
}

.item:hover {
  .imageWrap {
    @screen medium {
      width: 80%;
    }

    &::after {
      opacity: 0;
    }
  }

  .buttonWrap {
    @screen medium {
      max-width: 80%;
    }
  }

  .button {
    opacity: 1;
  }

  .headingText,
  .backText {
    @screen medium {
      @apply text-64 h-64 leading-64;
    }
  }
}
