.content {
  @apply px-0 w-full;

  position: relative;
}

.header {
  @apply z-hamburgerMenu w-full;

  position: fixed;
}

.article {
  @apply px-16 pt-72;

  @screen small {
    @apply px-32;
  }

  @screen large {
    @apply mx-auto px-0;

    max-width: 1200px;
  }
}

.scrollButton {
  @apply bottom-16 right-16 z-ScrollTopButton;

  position: fixed;
}