.sliderWrap {
  @apply pb-24 w-full;
}

.arrowButton {
  @apply text-24;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  &.right {
    right: 24px;
  }

  &.left {
    left: 24px;
  }
}

.dots {
  @apply w-full mt-24;

  align-items: center;
  display: flex;
  justify-content: center;

  .dot {
    @apply bg-darkBg;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
    min-height: 24px;
    min-width: 24px;
    opacity: .6;

    &:not(:first-child) {
      @apply ml-8;
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      opacity: 1;
      pointer-events: none;
    }
  }
}

.dark {
  .dots {
    .dot {
      @apply bg-lightBg;
    }
  }
}