%extend {
  @apply px-16;

  @screen small {
    @apply px-32;
  }

  @screen large {
    @apply mx-auto px-0;

    max-width: 1200px;
  }
}

.section {
  @extend %extend;

  p {
    @apply text-16;

    sup, small {
      @apply text-8;
    }

    strong {
      font-weight: bold;
    }

    &+p {
      @apply mt-8;
    }
  }
}

$level: 1;

@while $level <= 6 {
  .section.level#{$level} {
    & > .section:not(.full) {
      @apply px-0;

      @screen small {
        @apply pl-32;
      }
    }

    @if $level == 1 {
      h#{$level} {
        @apply pb-32;

        @screen small {
          @apply pb-32;
        }
      }

      & > .section {
        @apply pt-24;

        @screen small {
          @apply pt-48;
        }
      }
    } @else if $level >= 2 and $level <= 4 {
      h#{$level} {
        @apply pb-24;

        @screen small {
          @apply pb-32;
        }
      }

      & > .section {
        @apply pt-32;

        @screen small {
          @apply pt-48;
        }
      }
    } @else {
      h#{$level} {
        @apply pb-16;

        @screen small {
          @apply pb-24;
        }
      }

      & > .section {
        @apply pt-24;

        @screen small {
          @apply pt-32;
        }
      }
    }

    h#{$level} + .section {
      @apply pt-0;
    }
  }

  $level: $level + 1;
}

.no_title {
  padding-top: 0;
}

.full {
  @apply w-full px-0;

  max-width: 100%;
}

$h-level: 1;

@while $h-level <= 6 {
  .full {
    & > h#{$h-level} {
      @extend %extend;
    }
  }
  $h-level: $h-level + 1;
}