%extend {
  @apply px-16;

  @screen small {
    @apply px-32;
  }

  @screen large {
    @apply mx-auto;

    max-width: 1200px;
  }
}

.section {
  @apply text-16;
  @extend %extend;

  p {
    sup, small {
      @apply text-8;
    }

    strong {
      font-weight: bold;
    }

    &+p {
      @apply mt-8;
    }
  }

  & > .section {
    @apply px-0;
  }

  &.full {
    @apply w-full px-16;

    @screen medium {
      @apply px-32;
    }

    @screen large {
      @apply px-0;
    }

    max-width: 100%;

    & > .section {
      @apply px-0;
    }

    $h-level: 1;

    @while $h-level <= 6 {
      & > h#{$h-level} {
        @apply px-0;
        @extend %extend;
      }

      $h-level: $h-level + 1;
    }
  }

  & > .full {
    @apply px-0;
  }

  & > &:not(.full) {
    @screen large {
      @apply pl-32;
    }
  }

  &.no_title {
    @apply pt-0;
  }

  $level: 1;

  @while $level <= 6 {
    &.level#{$level} {
      @if $level == 1 {
        & > .section { @apply pt-96; }
        & > h#{$level} + *:not(.section) { @apply pt-72; }
      } @else if $level >= 2 and $level < 4 {
        & > .section { @apply pt-72; }
        & > h#{$level} + *:not(.section) { @apply pt-56; }
      } @else {
        & > .section { @apply pt-32; }
        & > h#{$level} + *:not(.section) { @apply pt-24; }
      }
    }

    $level: $level + 1;
  }
}


