.link_btn_area {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.link_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: clamp(32px, 4vw, 48px);
  width: 48px;
  height: 48px;

  $transition-duration: .5s;
  $transition-timing-function: liner;

  transition-duration: $transition-duration;
  transition-property: color;
  transition-timing-function: $transition-timing-function;



  &:hover {
    @apply text-lightWaring;
  }


}

.dark {
  .link_btn {
    &:hover {
      @apply text-darkWaring;
    }
  }
}

.zenn_icon {
  width: 1em;
  height: 1em;
}

.github_icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #fff;
  color: #181717;
}

.instagram_icon {
  width: .875em;
  height: 1em;
}
