.table {
  @apply w-full;

  table-layout: fixed;

  th, td {
    @apply p-8;

    font-weight: normal;
    line-height: 1;

    &:nth-child(1) {
      text-align: left;

      @screen small {
        text-align: center;
      }
    }

    &:nth-child(3) {
      display: none;

      @screen small {
        display: table-cell;
      }
    }
  }

  th {
    text-align: left;
  }

  td {
    text-align: center;
  }
}

.first_row {
  th,td {
    @apply text-16;

    text-align: center;

    @screen small {
      @apply text-16;
    }
  }
}

.col_1 {
  width: 35%;

  @screen small {
    width: 35%;
  }
}

.col_2 {
  width: 33%;

  @screen small {
    width: 25%;
  }
}

.col_3 {
  width: 25%;

  @screen small {
    width: 10%;
  }
}

.col_4 {
  width: 0;

  @screen small {
    visibility: visible;
    width: 25%;
  }
}


.pc_none {
  @screen small {
    display: none;
  }
}