.table {
  @apply w-full;

  table-layout: fixed;

  th, td {
    @apply p-8;

    font-weight: normal;
    line-height: 1;
  }

  th {
    text-align: left;
  }

  td {
    text-align: center;
  }
}

.first_row {
  th,td {
    @apply text-16;

    text-align: center;

    @screen small {
      @apply text-16;
    }
  }
}

.col_1 {
  width: 43%;

  @screen small {
    width: 35%;
  }
}

.col_2 {
  width: 33%;

  @screen small {
    width: 25%;
  }
}

.col_3 {
  visibility: collapse;
  width: 0%;

  @screen small {
    visibility: visible;
    width: 10%;
  }
}

.col_4 {
  width: 20%;

  @screen small {
    visibility: visible;
    width: 25%;
  }
}
