$transition-duration: .5s;
$transition-timing-function: liner;
$arrow-init: translate(-100%, -50%);

%extend-button-reset {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

%extend-gradient {
  @apply bg-gradient-to-r;
}

%extend-base {
  @apply w-full p-8;

  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

%extend-btn-after {
  @apply bg-white;
  @extend %extend-base;

  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  height: 100%;
  top: 0;
  transition-duration: $transition-duration;
  transition-property: opacity;
  transition-timing-function: $transition-timing-function;
}

@keyframes arrow-animation {
  0% {
    transform: translate(-130%, -50%);
  }

  50% {
    transform: translate(-30%, -50%);
  }

  100% {
    transform: translate(-130%, -50%);
  }
}

.arrow {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: arrow-animation;
  animation-play-state: paused;
  animation-timing-function: linear;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: $arrow-init;
  will-change: filter;
}

.button {
  @extend %extend-button-reset, %extend-base;

  cursor: pointer;
  position: relative;

  &::after {
    @extend %extend-btn-after;
  }

  &:hover {
    &::after {
      opacity: .4;
    }

    .arrow {
      animation-play-state: running;
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;

    &::after {
      @apply bg-black;

      opacity: .4;
    }
  }

  &.prime {
    @apply from-prime-from to-prime-to text-darkText;
    @extend %extend-gradient;
  }

  &.warning {
    @apply from-warning-from to-warning-to text-darkText;
    @extend %extend-gradient;
  }

  &.dangerous {
    @apply from-dangerous-from to-dangerous-to text-darkText;
    @extend %extend-gradient;
  }

  &.standard {
    @apply bg-lightText text-lightBg;
  }

  &.outline {
    @apply bg-lightBg text-lightText border-lightText;

    border-width: 1px;
    border-style: solid;
  }

  &.small {
    @apply h-32;
    font-size: 12px;
  }

  &.medium {
    @apply h-spUI text-24;
  }

  &.large {
    @apply h-64 text-32;
  }
}

.submit_wrap {
  cursor: pointer;
  pointer-events: auto;
  position: relative;

  &::after {
    @extend %extend-btn-after;
  }

  &:hover {
    &:hover {
      &::after {
        opacity: .4;
      }

      .arrow {
        animation-play-state: running;
      }
    }
  }

  &.disabled {
    cursor: default;
    pointer-events: none;

    &::after {
      @apply bg-black;

      opacity: .4;
    }
  }
}

.dark {
  &.standard {
    @apply bg-darkText text-darkBg;
  }

  &.outline {
    @apply bg-darkBg text-darkText border-darkText;
  }
}