$sp-year-circle: 64px;
$pc-year-circle: 96px;
$border-width: 4px;

.year {
  @apply bg-lightAccent;

  width: $sp-year-circle;
  height: $sp-year-circle;
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  min-height: $sp-year-circle;
  min-width: $sp-year-circle;

  @screen small {
    width: $pc-year-circle;
    height: $pc-year-circle;
    min-height: $pc-year-circle;
    min-width: $pc-year-circle;
  }

  span {
    @apply text-16 font-bold text-lightBg;

    display: block;
    line-height: 1;
    text-align: center;

    @screen small {
      @apply text-24;
    }
  }
}

.content {
  @apply w-full;
}

.border {
  @apply h-full bg-lightAccent;

  display: block;
  position: absolute;
  width: $border-width;
  z-index: -1;
}

.li {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  min-height: calc($sp-year-circle * 2);
  position: relative;
  width: calc(50% + ($sp-year-circle / 2));
  z-index: 1;

  @screen small {
    min-height: calc($pc-year-circle * 2);
    width: calc(50% + ($pc-year-circle / 2));
  }

  &.left {
    @apply mr-0 ml-auto;

    .border {
      left: ($sp-year-circle / 2) - ($border-width / 2);
      right: auto;

      @screen small {
        left: ($pc-year-circle / 2) - ($border-width / 2);
      }
    }

    .year { order: 2 }
    .content { order: 3 }
  }

  &.right {
    @apply mr-auto ml-0;

    .border {
      left: auto;
      right: ($sp-year-circle / 2) - ($border-width / 2);

      @screen small {
        right: ($pc-year-circle / 2) - ($border-width / 2);
      }
    }

    .year { order: 2 }
    .content { order: 1 }
  }
}
