.li {
  list-style: none;
  text-align: left;
  width: 100%;

  & > * {
    @apply h-48 leading-48;

    display: block;
    width: 100%;
    transition: all ease-in .3s;

    &:hover {
      opacity: .7;
    }
  }
}