.li {
  list-style: none;
  text-align: left;
  width: 100%;

  & > * {
    @apply h-spUI leading-spUI;

    cursor: pointer;
    display: block;
    transition: opacity ease-in .3s;
    width: 100%;

    &:hover {
      opacity: .7;
    }
  }
}
