$dot-size: 50%;
$bg-size: 4px;

.wrap {
  @apply w-full;

  position: relative;
}

.image {
  @apply w-full;

  display: block;
}

.content {
  @apply w-full h-full p-16;

  color: #fff;
  position: absolute;
  z-index: 1;
}

.bg_dot {
  @apply w-full h-full;

  background-color: transparent;
  background-image:
    radial-gradient(#555 $dot-size, transparent $dot-size);
  background-size: $bg-size $bg-size;
  position: absolute;
}