.cardWrap {
  @apply px-16 py-16;

  @screen small {
    @apply px-32 py-16;
  }
}

.options_area {
  @apply w-full;

  column-gap: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  row-gap: 8px;

  @screen small {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @screen large {
    @apply mx-auto;

    max-width: 80%;
  }
}