.nav {
  align-items: flex-start;
  display: flex;
}

.content {
  @apply w-0;

  opacity: 0;
  transition: width .2s ease-in .05s, opacity .2s ease-in .1s;

  &.open {
    opacity: 1;
    width: 200px;
  }
}