@import "./OpenMenuContent";

.nav {
  @apply w-full px-16;

  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  position: relative;

  @screen small {
    @apply px-32;
  }
}

.menu_btn {
  @apply w-spUI h-spUI;

  align-items: center;
  display: flex;
}

.large_screen_menu_list {
  display: none;

  @screen small {
    display: block;
    max-width: 100%;
    min-width: 50%;
  }
}
