$init-border-radius: 48% 52% 50% 50% / 42% 59% 41% 58%;

@keyframes liquid-animation {
  0% {
    border-radius: $init-border-radius;
  }

  33% {
    border-radius: 74% 26% 52% 48% / 74% 72% 28% 26%;
  }

  66% {
    border-radius: 32% 68% 63% 37% / 65% 46% 54% 35%;
  }

  100% {
    border-radius: $init-border-radius;
  }
}

.image {
  @apply w-2/3 h-auto;

  animation: liquid-animation 5s ease 0s infinite normal;
  border-radius: $init-border-radius;
  max-height: 100%;
  position: relative;
}