@import "./liquid-1";
@import "./liquid-2";
@import "./liquid-image";

.container {
  @apply w-full h-full;

  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

